# Required config for analyzing root directory (RobotLoader. throws Nette\InvalidStateException: Ambiguous class)
#   phpqa --report --output cli --tools phpstan --analyzedDirs ./ --ignoredDirs=vendor

parameters: 
    bootstrap: %currentWorkingDirectory%/vendor/autoload.php
    autoload_directories: 
        - %currentWorkingDirectory%/tests 
    autoload_files:
        - %currentWorkingDirectory%/RoboFile.php
    # exclude robo v0/v1 compatibility classes - it's not possible to analyze them with phsptan (only one robo version is installed)
    excludes_analyse:
        - %currentWorkingDirectory%/src/Task/NonParallelExecV0.php
        - %currentWorkingDirectory%/src/Task/NonParallelExecV1.php
        - %currentWorkingDirectory%/src/Task/RoboAdapter.php
        - %currentWorkingDirectory%/src/Tools/Analyzer/Phpcs.php
        - %currentWorkingDirectory%/src/Tools/Analyzer/PhpcsV3.php
    ignoreErrors:
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::[a-zA-Z0-9_]+\(\)#'
        - '#Constant [A-Z_]+ not found#'
