# Required config for analyzing root directory (RobotLoader. throws Nette\InvalidStateException: Ambiguous class)
#   phpqa --report --output cli --tools phpstan --analyzedDirs ./ --ignoredDirs=vendor
# 
# .phpqa.yml 
#   phpstan.standard:
#       standard: app/phpstan.neon
#
# %rootDir% == vendor/phpstan/phpstan/

parameters: 
    bootstrap: %rootDir%/../../../vendor/autoload.php
    autoload_directories: 
        - %rootDir%/../../../tests 
