name: PHPQA CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  phpqa:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        php: [5.5]
        include:    
          # PHP5
          - { php: 5.4, areSuggestedToolsInstalled: yes }
          - { php: 5.6, areSuggestedToolsInstalled: yes, allowedSecurityErrors: 1 }
          # PHP7
          - { php: 7.0 }
          - { php: 7.1, areSuggestedToolsInstalled: yes, allowedSecurityErrors: 1 }
          - { php: 7.2, areSuggestedToolsInstalled: yes }
          - { php: 7.3 }
          - { php: 7.4, areSuggestedToolsInstalled: yes }
          # PHP8
          - { php: 8.0, areSuggestedToolsInstalled: yes, allowedSecurityErrors: 1 }
          - { php: 8.1, areSuggestedToolsInstalled: yes }
          - { php: 8.2, areSuggestedToolsInstalled: yes }
          - { php: 8.3, areSuggestedToolsInstalled: yes }
          - { php: 8.4, areSuggestedToolsInstalled: yes }
          - { php: 8.5, areSuggestedToolsInstalled: yes }
        stability: [prefer-stable]

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: xsl, zip, json
        coverage: none
        tools: composer:v2

    - name: Cache composer
      uses: actions/cache@v4
      with:
        path: |
            ~/.composer/cache
            vendor
        key: php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: "php-${{ matrix.php }}-composer-"

    - name: Install dependencies
      env:
        PHP_VERSION: ${{ matrix.php }}
        INSTALL_SUGGESTED_TOOLS: ${{ matrix.areSuggestedToolsInstalled || 'no' }}
      run: |
        if [[ $INSTALL_SUGGESTED_TOOLS == "yes" ]]; then
            PHP_VERSION=$PHP_VERSION bin/suggested-tools.sh install;
        else
            PREINSTALLED_TOOLS=legacy bin/suggested-tools.sh install;
        fi
        php tests/.phpunit/fix-typehints.php;

    - name: Show versions
      run: |
        composer outdated --direct --all
        ./phpqa tools --config tests/.ci 

    - name: Run tests
      env:
        ALLOWED_SECURITY_ERRORS: ${{ matrix.allowedSecurityErrors || '' }}
      run: |
        vendor/phpunit/phpunit/phpunit
        bin/ci.sh
        ls -lAh build

    - name: Upload QA files
      uses: actions/upload-artifact@v4
      with:
        name: phpqa-${{ matrix.php }}
        path: build
